body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Montserrat';
    animation: Transicao 2.5s;
}
html, body {
    width: 100%;
}
h1 {
    font-family: "Bruno Ace";
}
footer {
    width: 99.7%;
    text-align: center;
}
header, footer {
    border: 3px solid rgb(24, 132, 255);
    color: white;
}
h1 {
    text-align: center;
}
header {
    display: flex;
    gap: 28%;
}
code {
    background-color: #eef;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}
ol, li {
    padding: 5px;
}
ol {
    padding-left: 20px;
}
main {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    color: black;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(245, 245, 245, 0.881);
    border-radius: 10px;
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}
p {
    text-align: left;
}
button {
    border-radius: 10px;
    background-color: rgb(58, 144, 255);
    border: 2px solid rgb(58, 144, 255);
    color: white;
    height: 30px;
}
button:active {
    background-color: rgb(40, 90, 156);
    border: 2px solid rgb(40, 90, 156);
}
button:hover {
    transform: scale(1.10);
    transition: 1s;
}
#email:invalid {
    border: 3px solid rgb(255, 0, 0);
}
#email:valid {
    border: 3px solid green;
}
.titulo {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
label {
    color: black;
}
@keyframes Transicao {
    from {
        margin-top: 500px;
    }
    to {
        margin-top: 0px;
    }
}
@keyframes txtTamanho {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 1500px;
        height: 100px;
    }
}
@keyframes imgTamanho {
    from {
        width: 100px;
        padding: 1px;
    }
    to {
        width: 600px;
        padding: 3px;
    }
}