.pontos{
    position: absolute;
    font-size: 30px;
    user-select: none;
    display: none;
    font-family: 'Space Mono';
    font-size: 25px;
}
:not(#inputRastro:checked) ~ .dados {
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}
#inputRastro:checked ~ .dados {
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
}