:root {
    --corAzul: rgb(58, 144, 255);
    --corLaranja: rgb(255, 132, 0);
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Montserrat';
    animation: Transicao 1s;
}
html, body {
    width: 100dvw;
    height: 100dvh;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}
h1 {
    font-family: "Bruno Ace";
}
header, footer {
    border: 3px solid rgb(24, 132, 255);
    color: white;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 30px;
    transition: 1s;
}
header {
    display: flex;
    gap: 28%;
    transition: 1s;
    border-radius: 0px 0px 20px 20px;
}
code {
    background-color: #eef;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}
ol, li {
    padding: 5px;
}
ol {
    padding-left: 20px;
}
input {
    border-radius: 10px;
    height: 20px;
}
main {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    color: black;
    width: 80dvw;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(245, 245, 245, 0.881);
    border-radius: 100px 0px 0px 100px;
    transition: 1s;
    animation: mover 1.5s;
}
section {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 10%;
    transition: 1s;
}
p {
    text-align: left;
}
#informaçoes {
    font-size: 14px;
}
button {
    border-radius: 10px;
    background-color: rgb(58, 144, 255);
    border: 2px solid rgb(58, 144, 255);
    color: white;
    height: 30px;
}
button:active {
    background-color: rgb(40, 90, 156);
    border: 2px solid rgb(40, 90, 156);
}
button:hover {
    transform: scale(1.10);
    transition: 1s;
}
#email:invalid {
    border: 3px solid var(--corLaranja);
}
#email:valid {
    border: 3px solid var(--corAzul);
}
.titulo {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
label {
    color: black;
}
@media (max-width: 735px) {
    header {
        gap: 13%;
        transition: 1s;
    }
}
@media (max-width: 635px) {
    header {
        gap: 8%;
        transition: 1s;
    }
}
@keyframes Transicao {
    from {
        margin-top: 500px;
    }
    to {
        margin-top: 0px;
    }
}
@keyframes txtTamanho {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 1500px;
        height: 100px;
    }
}
@keyframes imgTamanho {
    from {
        width: 100px;
        padding: 1px;
    }
    to {
        width: 600px;
        padding: 3px;
    }
}
@keyframes mover {
    from {
        margin-left: 100dvw;
    } to {
        margin-left: 0;
    }
}