:root {
    --corAzul: rgb(58, 144, 255);
    --corLaranja: rgb(255, 132, 0);
    --corCinza: rgb(39, 39, 39);
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Montserrat';
    animation: Transicao 1s;
}
html, body {
    width: 100dvw;
    height: 100dvh;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}
h1 {
    font-family: "Bruno Ace";
}
header, footer {
    border-top: 3px solid rgb(24, 132, 255);
    border-bottom: 3px solid rgb(24, 132, 255);
    color: white;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 30px;
    transition: 1s;
}
header {
    background-color: black;
    width: 100dvw;
    position: fixed;
    display: flex;
    gap: 28%;
    transition: 1s;
    padding: 5px;
    margin: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
    top: 0;
    z-index: 1;
}
aside {
    width: 25dvw;
    background-color: var(--corCinza);
    padding: 10px;
    border-right: 3px solid var(--corAzul);
    font-size: 0.9em;
    color: white;
}
aside input, aside label {
    color: white;
}
aside > div:nth-child(n) {
    margin-top: 15px;
}
#aplicaFuncoes {
    text-align: center;
}
#inputRastro {
    margin-top: 5px;
    width: 20px;
}
#principal {
    margin-top: 15px;
    margin-bottom: 15px;
}
code {
    background-color: rgb(216, 246, 255);
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}
ol, li {
    padding: 5px;
}
ol {
    padding-left: 20px;
}
input {
    border-radius: 10px;
    height: 20px;
}
section {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    color: black;
    width: 80dvw;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(245, 245, 245, 0.881);
    border-radius: 100px 0px 0px 100px;
    transition: 1s;
    animation: mover 5s;
}
main {
    margin-top: 86px;
    display: flex;
    gap: 10%;
    transition: 1s;
    container-type: normal;
}
p {
    text-align: left;
}
#informacoes {
    font-size: 14px;
    transition: 1s;
}
button {
    border-radius: 10px;
    background-color: var(--corAzul);
    border: 2px solid var(--corAzul);
    color: white;
    height: 30px;
    width: 100px;
}
button:hover {
    transform: scale(1.10);
    transition: 0.5s;
    background-color: white;
    color: black;
    border: 2px solid var(--corLaranja);
}
#email:invalid {
    border: 3px solid var(--corLaranja);
}
#email:valid {
    border: 3px solid var(--corAzul);
}
.titulo {
    transition: 1s;
}
label {
    color: black;
}
#conteudo > input {
    position: relative;
    top: 4px;
}
.dados > input {
    width: 100px;
    background-color: transparent;
    border: 2px solid black;
    padding: 2px;
}
.dados > div > input {
    background-color: transparent;
    width: 100px;
    border: 0;
    padding: 0;
}
@media (max-width: 735px) {
    header {
        gap: 13%;
        transition: 1s;
    }
}
@media (max-width: 635px) {
    header {
        gap: 8%;
        transition: 1s;
    }
}
@keyframes Transicao {
    from {
        margin-top: 500px;
    }
    to {
        margin-top: 0px;
    }
}
@keyframes txtTamanho {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 1500px;
        height: 100px;
    }
}
@keyframes imgTamanho {
    from {
        width: 100px;
        padding: 1px;
    }
    to {
        width: 600px;
        padding: 3px;
    }
}
@keyframes mover {
    from {
        width: 5%;
    }
    to {
        width: 80%;
    }
}