.pontos{
    position: absolute;
    pointer-events: none;
    user-select: none;
    font-weight: 100;
    opacity: 0;
    color: transparent;
    font-family: 'Bitcount Prop Single';
    font-size: 35px;
    z-index: 2;
    transition: "opacity 0.3s ease-in-out";
}