:root {
    --corAzul: rgb(58, 144, 255);
    --corLaranja: rgb(255, 132, 0);
    --corCinza: rgb(39, 39, 39);
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Montserrat';
    animation: Transicao 1s;
}
html, body {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}
h1 {
    font-family: "Bruno Ace";
}
header, footer {
    border-top: 3px solid rgb(24, 132, 255);
    border-bottom: 3px solid rgb(24, 132, 255);
    color: white;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 30px;
    transition: 1s;
}
header {
    background-color: black;
    width: 100dvw;
    position: fixed;
    display: flex;
    gap: 34%;
    transition: 1s;
    padding: 5px;
    margin: 0;
    padding-bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
    top: 0;
    z-index: 1;
}
aside {
    flex: 1;
    width: 50px;
    background-color: var(--corCinza);
    padding: 10px;
    border-right: 3px solid var(--corAzul);
    font-size: 0.9em;
    color: white;
    transition: 0.5s;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.topicFerramenta {
    cursor: pointer;
    transition: 0.5s;
    width: 40px;
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom: 10px;
}
.configuracoes {
    padding: 10px;
    border: 2px solid white;
    margin: 0;
    margin-left: 4px;
    margin-right: 3px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    height: auto;
    width: auto;
}
aside input, aside label {
    color: white;
}
:not(#inputRastro:checked) .bloco {
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}
:has(#inputRastro:checked) .bloco {
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
}
.bloco {
    margin: auto;
    padding-top: 5px;
    padding-right: 5px;
}
input[type="color"] {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.blocoCores {
    width: 4px;
    height: 25px;
    border: 2px solid white;
    cursor: pointer;
    background: var(--corLaranja);
}
.ativacao {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.ativacao h4 {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}
.dados {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dadosCores {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputsMouse {
    background-color: transparent;
    width: 50%;
    border: 2px solid white;
    outline: none;
}
.inputsMouse:focus {
    outline: none;
    border: 2px solid var(--corLaranja);
}
.boxColor {
    width: 40%;
}
#buttonRastro {
    text-align: center;
}
#fechar {
    display: block;
    font-size: large;
    width: 40px;
}
#inputRastro {
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("../assets/icon/iconNegative.png");
    background-color: white;
    border: 2px solid var(--corLaranja);
    margin-left: 0;
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
}
#inputRastro:checked {
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("../assets/icon/iconConfirm.png");
    background-color: white;
}
#principal {
    flex: 29;
    display: flex;
    flex-direction: column;
}
#sobre {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    color: black;
    width: 100%;
    box-shadow: 0 0 15px rgba(245, 245, 245, 0.881);
    border-radius: 100px 0px 0px 100px;
    transition: 1s;
    animation: mover 5s;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sobre p, #sobre li {
    margin-right: 40px;
}
#opacidadeFundo {
    appearance: none;
    background-color: transparent;
    width: 150px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid white;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1px;
    background-color: var(--corCinza);
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background-color: var(--corLaranja);
    border-radius: 50%;
    cursor: pointer;
}
code {
    background-color: rgb(216, 246, 255);
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}
ol, li {
    padding: 5px;
}
ol {
    padding-left: 20px;
}
main {
    margin-top: 86px;
    display: flex;
    gap: 10%;
    transition: 1s;
    container-type: normal;
}
p {
    text-align: left;
}
#informacoes {
    font-size: 14px;
    transition: 1s;
}
.confirmacao {
    border-radius: 10px;
    background-color: var(--corAzul);
    border: 2px solid var(--corAzul);
    color: white;
    height: 30px;
    width: 100px;
}
.confirmacao:hover {
    transform: scale(1.10);
    transition: 0.5s;
    background-color: white;
    color: black;
    border: 2px solid var(--corLaranja);
}
#email:invalid {
    border: 3px solid var(--corLaranja);
}
#email:valid {
    border: 3px solid var(--corAzul);
}
.titulo {
    transition: 1s;
}
@media (max-width: 735px) {
    header {
        gap: 13%;
        transition: 1s;
    }
    main {
        gap: 5%;
    }
    .dados {
        flex-direction: column;
    }
}
@media (max-width: 635px) {
    header {
        gap: 8%;
        transition: 1s;
    }
    main {
        gap: 2%;
    }
    .dados {
        flex-direction: column;
    }
}
@keyframes Transicao {
    from {
        margin-top: 500px;
    }
    to {
        margin-top: 0px;
    }
}
@keyframes txtTamanho {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 1500px;
        height: 100px;
    }
}
@keyframes imgTamanho {
    from {
        width: 100px;
        padding: 1px;
    }
    to {
        width: 600px;
        padding: 3px;
    }
}
@keyframes mover {
    from {
        width: 5%;
    }
    to {
        width: 100%;
    }
}